.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.mainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Courier New';
    /* font-size: 0.5rem; */
    font-weight: bold;
}

.bigTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.0rem;
}

.title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9rem;
    font-family: 'Courier New';
    font-weight: bold;
}

.RU {
    font-size: 1.0rem;
    font-family: 'Courier New';
}

.nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family:'Courier New';
    font-size: 1rem;
}

.nav li {
    margin: 1rem;
}

.nav li a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 2px solid hwb(348 12% 29%); 
    border-radius: 20px; 
    color: white; 
    transition: all 0.3s ease; /* Smooth transition */
}

.nav li a:hover {
    background-color: white; 
    color: black; /* White text */
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .mainDiv {
        font-size: 2rem;  
    }

    .title {
        font-size: 1rem; 
    }

    .nav ul {
        font-size: 0.8rem;
    }

    .bigTitle{
        font-size: 2.0rem;
    }
}

/* Media query for larger screens */
@media screen and (min-width: 1200px) {
    .mainDiv {
        font-size: 4rem; 
    }

    .title {
        font-size: 2rem; 
    }

    .nav ul {
        font-size: 1rem;
    }

    .big{
        font-size: 1.5rem;
    }
}

main::before,
main::after {
    content: '';
    position: absolute;
    z-index: -1;
    opacity: 0.8;
}

main::before {
    background: var(--third-glow);
    border-radius: 50%;
    width: 90vw;
    height: 50vw;
    margin-left: -50vw; 
    filter: blur(10vw); 
    top: calc(50vh - 30vw); 
    left: 50vw; 
    animation: animateBefore 3s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

main::after {
    background: var(--secondary-glow);
    border-radius: 50%;
    width: 25vw; /* Adjusted for responsiveness */
    height: 35vw; /* Adjusted for responsiveness */
    filter: blur(9vw); /* Adjusted for responsiveness */
    top: calc(50vh - 25vw / 2); /* Adjusted for responsiveness */
    left: calc(50vw - 25vw / 2); /* Adjusted for responsiveness */
    animation: animateAfter 5s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

@keyframes animateBefore {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10vw) scale(0.8); /* Adjusted for responsiveness */
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes animateAfter {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10vw) scale(1.2); /* Adjusted for responsiveness */
    }
    100% {
        transform: translateX(0);
    }
}

